<section class="breadcumb-section" style="background-image: url('@Url.Content("~/vitour/assets/images/page/breadcrumb.jpg")')">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-12 center z-index1">
                <h1 class="title">Turlarımız</h1>
                <ul class="breadcumb-list flex-five">
                    <li><a href="/Default/Index">Ana Sayfa</a></li>
                    <li><span>Turlarımız</span></li>
                </ul>
                <img class="bcrumb-ab" src="~/vitour/assets/images/page/mask-bcrumb.png" alt="Mask">
            </div>
        </div>
    </div>
</section>